<section class="home-page">

  <div class="header-filler"></div>

  <section class="website-introduction-container">
    <div class="intro-statement-1">
      <h3>Seeking an Unforgettable Experience?</h3>
      <h3>Look No Further</h3>
    </div>
    <div class="intro-statement-2">
      <h4>We Provide Authentic Ethiopian Travel Experiences in Simien Mountain National Park and Beyond.</h4>
    </div>
    <div class="introductory-ctas">
      <button class="book-cta form-control">Book Your Trip Today</button>
      <p>Not ready to book? Learn more...</p>
    </div>
  </section>

</section>
