<section class="important-information-and-tips">
  <div class="header-filler"></div>
  <section class="page-content-main">
    <div class="page-content-title">
      <h2>Important Information and Tips For Your Trip</h2>
    </div>
    <div class="page-content">
      <div class="content-section">
        <h4>Safety</h4>
        <p class="indent">
          Safety has been an issue in the past.  There have been reports of crimes against foreign hikers, as some of the voluntary government relocation programs (such as those occurring in 2009 and 2013) have been unpopular among local communities. These events are exceedingly uncommon. We have yet to encounter trouble on our tours through the Simien Mountains, nor did have we encountered any other hikers who experienced problems or felt at all unsafe. The mandatory park ranger escort for all hikers is probably overkill (though it made us feel safe). The vast majority of locals are kind, welcoming, generous, and grateful for the economic boost brought in by tourism.
        </p>
        <p>
          It can be extremely challenging to get current information about safety in Ethiopia, and particularly in the Amhara region (where the Simien mountains are located). As of the writing of this section (March 2018), the Simien region is at peace. Sit-in protests (where workers sit at home and do not show up for work, government jobs, etc) have occurred in the Amhara region recently, but these protests have been peaceful.
        </p>
        <p>
          Ethiopia is a country comprised of many smaller communities and tribes, and often the ruling party consists of one or more tribes that represents a small minority of Ethiopia’s population. As a result, the ruling party can be at odds with governments from some localities. The federal government of Ethiopia has recently taken steps to smooth out relations in the Amhara region, including the release of individuals perceived to be political prisoners.
        </p>
        <p>
          If you have any questions or concerns about safety, please send us a message and we will contact our local guides and support staff on the ground in Ethiopia, to get you the most up-to-date information. Safety is our top priority.
        </p>
      </div>
      <div class="content-section">
        <h4>Tipping</h4>
        <p class="indent">
          Tipping is customary in Ethiopia – we agree with the recommendations of the lonely planet guidebook, which advocates for small, frequent tips. A tip of around 10% is appropriate and appreciated for most services (meals, taxi rides, etc). Tipping for the hiking tour is a bit different. Per the lonely planet, a total tip of one day’s pay for 3 days of work is standard, subject to your experience on the tour. Guides and cooks make around 400 birr/day, scouts 200 birr/day, and mule handlers 150 birr/day. For larger, all-inclusive tours of the country, a tip of $10 per traveler per day is customary, or slightly less if the size of the party is large.
        </p>
      </div>
      <div class="content-section">
        <h4>Currency & Conversion</h4>
        <p class="indent">
          One US Dollar is currently equivalent to 27.55 Ethiopian Birr.
        </p>
      </div>
      <div class="content-section">
        <h4>When to Travel</h4>
        <p class="indent">
          The best time is between October and March. The rainy season ends in September, and the wildflowers that bloom in August will still be around until late October. The land is vibrant and colorful during October/November (probably the most popular time to schedule a trip. December through March is the driest time of the year. As you get into February and March, the landscapes will not be as lush, however this may give you the best chance at avoiding rain during your hike. Rain is intermittent in April and May (the hottest month), and is heaviest in June-August.
        </p>
      </div>
      <div class="content-section">
        <h4>Temperature</h4>
        <p class="indent">
          The weather in the mountains can be highly variable. Temperatures can dip below freezing at night, and can get above 90° F during the day.  It can also rain at a moment’s notice, though this is uncommon during the dry season. Bring layers and see below for our recommended packing list.
        </p>
      </div>
      <div class="content-section">
        <h4>Cell Phone/Internet Service</h4>
        <p class="indent">
          Cell phone service in the Simien mountains is poor. Data service (3G/4G is essentially nonexistent in the mountains and in Ethiopia in general. We recommend you turn off data on your phone prior to arriving in country, as most US providers don’t have an agreement with Ethiopian providers, so you will be charged exorbitantly for using data ($3+/MB). Most hotels that cater to westerners have wifi, however internet speed is slow. You can expect to check email and do minimal browsing, but uploading your photos might need to wait for your return home.
        </p>
      </div>
      <div class="content-section">
        <h4>Clothing</h4>
        <p class="indent">
          Grown men typically don’t wear shorts in Ethiopia, and Women don’t typically wear short shorts or show a lot of skin (that being said, I wore shorts as a grown man for comfort in the heat of the day but I did stick out). Jeans or hiking pants will make you feel at home for men, jeans with a top or dresses are great for women. For a more comprehensive packing list, see below.
        </p>
      </div>
      <div class="content-section">
        <h4>Luggage</h4>
        <p class="indent">
          Your luggage will be transported with us on a mule. Your suitcase will be available at camp each night, but will not be available during the daily hike, as the mules often take a different route. Bring a day pack so you can carry your water, snacks, sunscreen, camera, extra layer, and anything else you might need during the day.
        </p>
      </div>
      <div class="content-section">
        <h4>Visa</h4>
        <p class="indent">
          A Visa is required to enter the country. You can purchase an eVisa online, ahead of time, or purchase your visa at customs when you arrive. For peace of mind, we HIGHLY recommend purchasing the eVisa ahead of time (it will also save you some time at customs). Cost is approx. $50. The application can be found at: https://www.evisa.gov.et/
        </p>
      </div>
      <div class="content-section">
        <h4>Resources/Further Reading</h4>
        <ul>
          <li>The lonely planet travel guide for Ethiopia and Djibouti was our go-to guide for the country, and was the guide we observed to be most common among other travelers. <a href="https://www.amazon.com/Lonely-Planet-Ethiopia-Djibouti-Travel/dp/1786570408/ref=sr_1_1?ie=UTF8&qid=1521481442&sr=8-1&keywords=lonely+planet+ethiopia" target="">Click Here for Amazon Link</a></li>
          <li><a href="http://simienmountains.org/" target="_">Simienmountains.org</a> is the official park website and has great information about the park.</li>
        </ul>
      </div>
      <div class="content-section">
        <h4>Packing List</h4>
        <p>It can be very difficult to find reasonable-quality outdoors gear in Ethiopia. Come prepared!</p>
        <ul>
          <li>Passport, money, visa</li>
          <li>Good hiking shoes (I LOVE my Salomon Quest 4D 2 GTX. Salomon, Keen, Lowa, Merrell, and Vasque all make great boots)</li>
          <li>Sunscreen</li>
          <li>First aid kid (our guides are trained, but it’s always a good idea to be prepared)</li>
          <li>Medication: talk to your doctor about vaccination and medication including antibiotics, altitude medication, and medication to manage symptoms in case you get sick or sore. Also consider rehydration salts.</li>
          <li>Mosquito repellent (especially during or just after the rainy season)</li>
          <li>Quick drying towel</li>
          <li>Waterproof backpack</li>
          <li>Toiletries</li>
          <li>Camera or camera-phone with adequate memory – plan on taking a lot of pictures!</li>
          <li>Sunglasses</li>
          <li>Head lamp</li>
          <li>External battery/charger – you won’t have access to power on your trip, and you’re really going to want to take pictures!</li>
          <li>One pair of warm socks (you will be glad you did at night)</li>
          <li>Hiking shorts/pants</li>
          <li>Athletic shirts: long sleeve and short sleeve</li>
          <li>Hat</li>
          <li>Underwear</li>
          <li>Good hiking socks (I swear by Smartwool PhD medium)</li>
          <li>Rain coat or poncho</li>
          <li>Snacks: granola bars, trail mix, dried fruit, chocolate (I was craving chocolate by the end of the trip – dessert is not prevalent in Ethiopia)</li>
          <li>Flip-flops or other comfortable shoes to wear at camp</li>
          <li>A pair of jeans (hiking pants might suffice) and button down shirt or dress (for women) to go out to dinner while in Gonder</li>
          <li>Trekking poles (optional)</li>
          <li>If you’re bringing your own camping gear (if not these will be provided):</li>
          <ul style="margin-top: 0;">
            <li>Tent</li>
            <li>Sleeping bag</li>
            <li>Crash pad/mattress</li>
          </ul>
        </ul>
      </div>
      <div class="content-section">
        <h4>Recommendations for Pre/Post-Hike Activities in Gondar</h4>
        <ul>
          <li>Four Sister’s Restaurant: One of the best restaurants in Ethiopia and very reasonably priced. Caters to foreigners. This is a must!</li>
          <li>Master Chef for lunch (good fish and very good lamb tibs – a traditional dish).</li>
          <li>The restaurant at lodge Fasil is also good and offers a number of traditional and western dishes.</li>
          <li>Visit the royal enclosure: a guide will cost an extra 150-200 birr but is well worth the cost.</li>
          <li>Visit Debre Birhan Sellassie Church: Stone church built in the 15th century and famed for the beautiful paintings on the walls and ceiling.</li>
          <li>Hotel: Lodge du Chateau – Great location next to the royal enclosure. The staff are professional and accommodating and the manager is particularly helpful in making recommendations and arranging transportation around Gonder. The atmosphere is calm – there is a nice courtyard in the middle of all the rooms. The hotel only serves breakfast (which is included in the price), however the restaurant area, located on the second floor, is open at all hours and provides a great place to enjoy an afternoon beer, relax, take in the view. The manager will offer complimentary afternoon tea and snacks if you’re relaxing in the restaurant area. The staff will have a hot shower waiting for you upon your return from your hike. Rooms run $45-65 per night and are nice and clean.</li>
        </ul>
      </div>
    </div>
  </section>
</section>
