<section class="main-navigation-header">
  <span class="glyphicon glyphicon-chevron-down"></span>
  <div class="logo-container">
    <p>Logo Placeholder</p>
  </div>
  <div class="main-navigation-buffer"></div>

  <nav class="navigation-bar">
    <div class="navigation-option">
      <p class="nav-option-text" ng-mouseover="view.toggleAboutUsDropdown(true)">About Us</p>
        <!-- Our Story -->
        <!-- Our Guides -->
        <!-- What Makes Us Different -->
        <!-- Photo Gallery -->
        <div class="about-us-dropdown" ng-show="view.aboutUsDropdownVisible">
          <div class="dropdown-option">
            <p class="dropdown-option-text">Our Story</p>
          </div>
          <div class="dropdown-option">
            <p class="dropdown-option-text">Our Guides</p>
          </div>
          <div class="dropdown-option">
            <p class="dropdown-option-text">What Makes Us Different</p>
          </div>
          <div class="dropdown-option">
            <p class="dropdown-option-text">Photo Gallery</p>
          </div>
        </div>
    </div>
    <div class="navigation-option">
      <p class="nav-option-text" ng-mouseover="view.toggleHikingToursDropdown(true)">Hiking Tours</p>
        <!-- Tour Packages -->
        <!-- The Simien Mountains -->
        <!-- Important Information and Tips -->
        <div class="hiking-tours-dropdown" ng-show="view.hikingToursDropdownVisible">
          <div class="dropdown-option">
            <p class="dropdown-option-text">Tour Packages</p>
          </div>
          <div class="dropdown-option">
            <p class="dropdown-option-text">The Simien Mountains</p>
          </div>
          <div class="dropdown-option">
            <p class="dropdown-option-text">Important Information and Tips</p>
          </div>
        </div>
    </div>
    <div class="navigation-option">
      <p class="nav-option-text">Testimonials</p>
    </div>
    <div class="navigation-option">
      <p class="nav-option-text">Contact Us</p>
    </div>
  </nav>

</section>
