<section class="main-navigation-header">

  <div class="logo-container">
    <p>Logo Placeholder</p>
  </div>
  <div class="main-navigation-buffer"></div>

  <nav class="navigation-bar">
    <div class="navigation-option">
      <p>About Us</p>
        <!-- Our Story -->
        <!-- Our Guides -->
        <!-- What Makes Us Different -->
        <!-- Photo Gallery -->
    </div>
    <div class="navigation-option">
      <p>Hiking Tours</p>
        <!-- Tour Packages -->
        <!-- The Simien Mountains -->
        <!-- Important Information and Tips -->
    </div>
    <div class="navigation-option">
      <p>Testimonials</p>
    </div>
    <div class="navigation-option">
      <p>Contact Us</p>
    </div>
  </nav>

</section>
