<section class="our-story">
  <div class="header-filler"></div>
  <section class="page-content-main">
    <div class="page-content-title">
      <h1>Our Story</h1>
    </div>
    <div class="page-content">
      <div class="story-content-block">
        <!-- <img class="guide-image" src="../../../assets/images/endalk-1.jpg" alt=""> -->
        <div class="story-block">
          <img class="our-story-1" ng-src="{{$root.saCDNURL}}our-story-1.jpg" alt="">
          <p class="story-paragraph-1 p1">
            We are a small company founded by two avid hikers/nature enthusiasts in their late twenties who found themselves dead set on a hiking trip to the “Roof of Africa”. After experience backpacking through Europe, South America, and the Indian Himalayas, we figured we were up to the task, but it was not without a number challenges!
            </br></br>
            Backpacking through the Simien mountains can be a turbulent experience.  All hikers are required to hire a scout (who likely does not speak english) and all organized tours also require a guide and cook. We heard many complaints from other hikers -  their cook did not provide sufficient drinking water, many of the guides did not speak adequate english, they felt swindled by tour operators over-charging and under-delivering, etc. This is on top of the uncertainty of transferring several hundred dollars as a “trip deposit” via western union months before arriving.
          </p>
        </div>
        <div class="story-block">
          <img class="our-story-2" ng-src="{{$root.saCDNURL}}our-story-2.jpg" alt="">
          <p class="story-paragraph-2">
            We were very fortunate to be led by Endalk, a 25 year-old guide with excellent English, who was incredibly accommodating and a great problem-solver (<span class="open-our-guides" ng-click="view.openOurGuidesPage()">see his bio!</span>) We were so impressed, in fact, that we decided to partner with him so that others looking for an experience in Ethiopia could be as fortunate as us. Ethiopia Adventure Tours was born.
            </br></br>
            Many of the tour operators in Ethiopia are companies stationed in Addis Ababa, who pocket well over half of the trip cost, solely for the service of connecting westerners to the guides, cooks, and scouts who do the vast majority of the work.  Our goal is to keep nearly the entirety of the trip cost in the community where you will be traveling.  We take only a small administrative fee to run the site, organize communication (including setting up the tour), and process payments.  In addition, 5% of all payments will go towards supporting local charities in communities surrounding the Simien Mountains.
            </br></br>
            Thank you for looking and let us know if you have any questions!
          </p>
        </div>
      </div>
    </div>
  </section>
</section>
