<section class="what-makes-us-different">
  <div class="header-filler"></div>
  <section class="page-content-main">
    <div class="page-content-title">
      <h2>What Makes Us Different</h2>
    </div>
    <div class="page-content">
      <div class="content-section">
        <h4>We're a Growing US-Based Start-Up Company</h4>
        <p class="indent">We are a small, US-based travel company that works exclusively in Ethiopia to deliver an authentic travel experience. We are currently focused on hiking tours in the Simien mountains, but looking to expand to other regions within the country!</p>
      </div>
      <div class="content-section">
        <h4>Sustainability & Integration</h4>
        <p class="indent">We are dedicated to building a sustainable company that supports the community in which you travel, rather than paying a large administrative fee to a tour operator in Addis Ababa. We only take a small administrative fee to run the site, organize logistics (including setting up the tour), and process payments. In addition, 5% of all payments will go towards supporting local charities in communities surrounding the Simien Mountains.</p>
      </div>
      <div class="content-section">
        <h4>Advantages of Working With Us</h4>
        <p>Organizing your tour with our company will offer you the following advantages over Ethiopian operators:</p>
        <ol>
          <li><span>We communicate and organize your tour directly with guides, scouts, and cooks in Ethiopia, so we can customize your tour in whatever way you desire (extra distance in a day, more time for sightseeing, community engagement, etc).</span></li>
          <li><span>We are constantly asking for feedback and seeking to improve our tours. We want to provide you the BEST POSSIBLE experience. We are never looking to make a quick buck at the expense of your experience (as some local operators have been reputed to do). Our goal is to build this company and provide you an unforgettable experience so that you will brag to your friends and family, and convince them to join us for a trip!</span></li>
          <li><span>We understand that the needs of Westerners are different from those of Ethiopians, who incredibly seem to hike on a liter of water per day. We will make sure you have enough food, water, and that you will hike with a guide who understands and can accomodate your needs.</span></li>
          <li><span>Security in your payments - You won’t have to go through the hassle and risk of sending several hundred dollars via western union ahead of your trip as many Ethiopian companies require.</span></li>
          <li><span>We will always be available to troubleshoot, answer any questions you may have, and provide you with any information that you need, even if you ultimately don’t book a trip with us.</span></li>
        </ol>
      </div>
    </div>
  </section>
</section>
