section.simien-mountains {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%;
  section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw;
    img.section-image {
      &.right {
        float: right;
        margin: 0px 0px 15px 15px;
      }
      &.left {
        float: left;
        margin: 0px 15px 15px 0px;
      }
      &.history {
        width: 40%;
      }
      &.geology {
        width: 25%;
      }
      &.native-people {
        width: 35%;
      }
      &.wildlife {
        width: 30%;
      }
    }
    div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid rgb(150, 150, 150);
      h1 {
        margin: 0;
        font-size: 5.006257822277847vmin;
      }
    }
    cite.source-citation {
      margin-bottom: 15px;
      font-style: italic;
    }
    div.page-content {
      display: block;
      width: 100%;
      div.content-dropdown-container {
        width: 100%;
        div.dropdown-content {
          width: 100%;
          padding: 2.503128911138924vmin;
          div.content-section {
            width: 100%;
            div.sub-section {
              width: 100%;
              margin-bottom: 25px;
              h5 {
                margin-top: 0;
              }
              p {
                padding-left: 5vmin;
              }
              blockquote {
                padding-left: 10vw;
                padding-right: 10vw;
              }
            }
            p.first-paragraph {
              text-indent: 60px;
            }
          }
        }
      }
    }
  }
}
