@import url("https://fonts.googleapis.com/css?family=Jua|PT+Sans+Caption");
section.main-navigation-header {
  position: fixed;
  display: flex;
  z-index: 10;
  flex-direction: column;
  width: 100%;
  height: 8vh;
  border-bottom: 1px solid #646464;
  box-shadow: -1px 1px 1px 0px #c3c2c2;
  background-color: white; }
  section.main-navigation-header img.head-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    top: 10%;
    left: 3%; }
    section.main-navigation-header img.head-logo:hover {
      color: black;
      cursor: pointer;
      cursor: hand; }
  section.main-navigation-header div.logo-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    top: 10%;
    left: 3%;
    border: 1px solid #646464; }
    section.main-navigation-header div.logo-container p {
      margin: 0;
      padding: 0; }
    section.main-navigation-header div.logo-container:hover {
      color: black;
      cursor: pointer;
      cursor: hand; }
  section.main-navigation-header div.main-navigation-buffer {
    flex: 1; }
  section.main-navigation-header nav.navigation-bar {
    display: flex;
    width: 100%;
    padding-right: 0;
    justify-content: flex-end; }
    section.main-navigation-header nav.navigation-bar div.navigation-option {
      width: fit-content;
      padding: 0px 2% 8px 2%; }
      section.main-navigation-header nav.navigation-bar div.navigation-option p.nav-option-text {
        font-size: 1.877346683354193vmin;
        margin: 0;
        padding: 0;
        width: fit-content;
        color: #646464; }
        section.main-navigation-header nav.navigation-bar div.navigation-option p.nav-option-text:hover {
          color: black;
          cursor: pointer;
          cursor: hand; }
  section.main-navigation-header div.about-us-dropdown, section.main-navigation-header div.hiking-tours-dropdown, section.main-navigation-header div.tour-information-dropdown {
    position: absolute;
    min-width: 11vw;
    background-color: white;
    border: 1px solid #a0a0a0;
    box-shadow: -1px 1px 1px 0px #c3c2c2; }
    section.main-navigation-header div.about-us-dropdown div.dropdown-option, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option, section.main-navigation-header div.tour-information-dropdown div.dropdown-option {
      padding: 5px;
      border-bottom: 1px solid #f0f0f0; }
      section.main-navigation-header div.about-us-dropdown div.dropdown-option:hover, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option:hover, section.main-navigation-header div.tour-information-dropdown div.dropdown-option:hover {
        cursor: pointer;
        cursor: hand; }
        section.main-navigation-header div.about-us-dropdown div.dropdown-option:hover p.dropdown-option-text, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option:hover p.dropdown-option-text, section.main-navigation-header div.tour-information-dropdown div.dropdown-option:hover p.dropdown-option-text {
          color: black; }
      section.main-navigation-header div.about-us-dropdown div.dropdown-option.current-page p.dropdown-option-text, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option.current-page p.dropdown-option-text, section.main-navigation-header div.tour-information-dropdown div.dropdown-option.current-page p.dropdown-option-text {
        color: #018a2c; }
      section.main-navigation-header div.about-us-dropdown div.dropdown-option p.dropdown-option-text, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option p.dropdown-option-text, section.main-navigation-header div.tour-information-dropdown div.dropdown-option p.dropdown-option-text {
        font-size: 1.877346683354193vmin;
        margin: 0;
        padding: 0;
        width: fit-content;
        color: #646464; }
        section.main-navigation-header div.about-us-dropdown div.dropdown-option p.dropdown-option-text:hover, section.main-navigation-header div.hiking-tours-dropdown div.dropdown-option p.dropdown-option-text:hover, section.main-navigation-header div.tour-information-dropdown div.dropdown-option p.dropdown-option-text:hover {
          color: black; }

section.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.home-page section.website-introduction-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75vh;
    border-bottom: 1px solid black;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("http://d16vkdabw3fpak.cloudfront.net/simien-mountains-background.jpg");
    background-size: 100%;
    background-position: 0px -18.75vh;
    padding: 40px 0px 80px 0px; }
    section.home-page section.website-introduction-container h1, section.home-page section.website-introduction-container h2, section.home-page section.website-introduction-container h3, section.home-page section.website-introduction-container h4, section.home-page section.website-introduction-container h5 {
      width: fit-content;
      padding: 0;
      margin: 0;
      font-family: 'Jua', sans-serif; }
    section.home-page section.website-introduction-container div.intro-statement {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content; }
    section.home-page section.website-introduction-container div.introductory-ctas {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      section.home-page section.website-introduction-container div.introductory-ctas button {
        width: 100%;
        background-color: #018A2C;
        padding: 0.500625782227785vmin 0.750938673341677vmin 0.500625782227785vmin 0.750938673341677vmin;
        margin: 0;
        box-shadow: -1px 1px 1px 0px black;
        color: white;
        border: 1px solid black;
        font-weight: 600;
        font-size: 18px; }
        section.home-page section.website-introduction-container div.introductory-ctas button:hover {
          cursor: pointer;
          cursor: hand; }
      section.home-page section.website-introduction-container div.introductory-ctas p {
        margin: 0;
        color: white;
        font-size: 14px;
        color: #ebebeb; }
        section.home-page section.website-introduction-container div.introductory-ctas p:hover {
          cursor: pointer;
          cursor: hand;
          color: white; }
  section.home-page div.introduction-break {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 25vh; }
    section.home-page div.introduction-break div.learn-more-cta {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: fit-content;
      padding-top: 10px; }
      section.home-page div.introduction-break div.learn-more-cta h5 {
        position: absolute;
        width: fit-content;
        padding: 0;
        margin: 0;
        font-family: 'Jua', sans-serif; }
      section.home-page div.introduction-break div.learn-more-cta:hover {
        cursor: pointer;
        cursor: hand; }
  section.home-page section.home-page-content-introduction {
    width: 100%;
    height: 100vh; }

section.our-guides {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.our-guides section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw; }
    section.our-guides section.page-content-main div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid #969696; }
      section.our-guides section.page-content-main div.page-content-title h1 {
        margin: 0;
        font-size: 5.006257822277847vmin; }
    section.our-guides section.page-content-main div.page-content {
      display: block;
      width: 100%;
      border-top: 1px solid #d2d2d2; }
      section.our-guides section.page-content-main div.page-content div.guide-content-block {
        padding: 15px 0 10px 0;
        border-bottom: 1px solid #d2d2d2; }
        section.our-guides section.page-content-main div.page-content div.guide-content-block img.guide-image {
          width: 35%;
          float: left;
          margin: 8px 15px 5px 0px; }
        section.our-guides section.page-content-main div.page-content div.guide-content-block h2.guide-name {
          font-size: 4.005006258vmin;
          padding: 0; }
        section.our-guides section.page-content-main div.page-content div.guide-content-block p.guide-description {
          font-size: 2.252816020025031vmin;
          margin: 0px; }
        section.our-guides section.page-content-main div.page-content div.guide-content-block div.guide-contact {
          display: flex;
          justify-content: flex-start; }
          section.our-guides section.page-content-main div.page-content div.guide-content-block div.guide-contact p {
            font-size: 2.252816020025031vmin;
            font-weight: 600;
            margin: 20px 0 0 0;
            padding: 0; }
            section.our-guides section.page-content-main div.page-content div.guide-content-block div.guide-contact p.email {
              margin-right: 40px; }

section.our-story {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.our-story section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw; }
    section.our-story section.page-content-main div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid #969696; }
      section.our-story section.page-content-main div.page-content-title h1 {
        margin: 0;
        font-size: 5.006257822277847vmin; }
    section.our-story section.page-content-main div.page-content {
      display: block;
      width: 100%; }
      section.our-story section.page-content-main div.page-content div.story-block {
        display: block;
        overflow: hidden;
        width: 100%; }
        section.our-story section.page-content-main div.page-content div.story-block p.story-paragraph-1 {
          clear: left; }
          section.our-story section.page-content-main div.page-content div.story-block p.story-paragraph-1.p1 {
            text-indent: 60px; }
        section.our-story section.page-content-main div.page-content div.story-block p.story-paragraph-2 {
          clear: right; }
        section.our-story section.page-content-main div.page-content div.story-block img {
          width: 43.80475594vmin; }
          section.our-story section.page-content-main div.page-content div.story-block img.our-story-1 {
            float: right;
            margin: 0px 0px 15px 15px; }
          section.our-story section.page-content-main div.page-content div.story-block img.our-story-2 {
            float: left;
            margin: 0px 15px 15px 0px; }
        section.our-story section.page-content-main div.page-content div.story-block span.open-our-guides {
          color: rgba(0, 0, 255, 0.9); }
          section.our-story section.page-content-main div.page-content div.story-block span.open-our-guides:hover {
            color: blue;
            cursor: pointer;
            cursor: hand; }

section.simien-mountains {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.simien-mountains section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw; }
    section.simien-mountains section.page-content-main div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid #969696; }
      section.simien-mountains section.page-content-main div.page-content-title h1 {
        margin: 0;
        font-size: 5.006257822277847vmin; }
    section.simien-mountains section.page-content-main cite.source-citation {
      margin-bottom: 15px;
      font-style: italic; }
    section.simien-mountains section.page-content-main div.page-content {
      display: block;
      width: 100%; }
      section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content {
        padding: 2.503128911138924vmin; }
        section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content div.content-section div.sub-section {
          margin-bottom: 25px; }
          section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content div.content-section div.sub-section h5 {
            margin-top: 0; }
          section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content div.content-section div.sub-section p {
            padding-left: 5vmin; }
          section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content div.content-section div.sub-section blockquote {
            padding-left: 10vw;
            padding-right: 10vw; }
        section.simien-mountains section.page-content-main div.page-content div.content-dropdown-container div.dropdown-content div.content-section p.first-paragraph {
          text-indent: 60px; }

section.three-day-hiking-tour {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.three-day-hiking-tour section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw; }
    section.three-day-hiking-tour section.page-content-main div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 50px;
      border-bottom: 1px solid #969696; }
      section.three-day-hiking-tour section.page-content-main div.page-content-title h1 {
        margin: 0;
        font-size: 5.006257822277847vmin; }
    section.three-day-hiking-tour section.page-content-main div.page-content {
      display: flex;
      flex-direction: column;
      width: 100%; }
      section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary {
        width: 100%;
        height: auto;
        padding: 15px 0 10px 30px; }
        section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description {
          border-top: 1px solid #d2d2d2;
          padding: 10px 0px 20px 0px;
          display: block; }
          section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-header h5 {
            text-decoration: underline; }
          section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information {
            overflow: hidden;
            display: block;
            padding-left: 15px;
            height: fit-content; }
            section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-stats {
              float: left;
              display: flex;
              flex-direction: column;
              margin-bottom: 30px; }
              section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-stats span.day-stat {
                display: flex;
                margin: 0; }
                section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-stats span.day-stat p {
                  margin: 0;
                  padding: 0; }
                  section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-stats span.day-stat p.day-stats-title {
                    font-weight: 600; }
            section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-images {
              float: right; }
              section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-images img.day-image {
                width: 450px;
                margin: 0px 0px 15px 15px; }
            section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-description {
              clear: left;
              margin-top: 50px; }
              section.three-day-hiking-tour section.page-content-main div.page-content div.trip-itinerary div.itinerary-day-description div.day-information div.day-description p {
                text-indent: 60px;
                margin: 0;
                margin-top: 50px; }

section.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100%; }
  section.contact-us section.page-content-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 92vh;
    padding: 3vh 7vw 3vh 7vw; }
    section.contact-us section.page-content-main div.page-content-title {
      width: 100%;
      padding: 5px 0 5px 0;
      margin-bottom: 30px;
      border-bottom: 1px solid #969696; }
      section.contact-us section.page-content-main div.page-content-title h2 {
        margin: 0;
        font-size: 4.005006257822278vmin; }
    section.contact-us section.page-content-main div.page-content {
      display: block;
      width: 100%; }
      section.contact-us section.page-content-main div.page-content p {
        margin: 0; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100vw;
  height: 100vh; }

p {
  font-family: 'PT Sans Caption', sans-serif; }

div.content-dropdown-container {
  width: 100%;
  margin-bottom: 2vh; }
  div.content-dropdown-container div.content-dropdown-label {
    display: flex;
    width: 100%;
    padding: 5px 0px 0px 5px;
    border: 1px solid #969696;
    box-shadow: -1px 1px 1px 0px #c3c2c2; }
    div.content-dropdown-container div.content-dropdown-label h4 {
      margin: 0;
      padding: 0;
      font-weight: 300;
      color: #5a5a5a; }
    div.content-dropdown-container div.content-dropdown-label .fa-angle-right {
      color: #5a5a5a; }
    div.content-dropdown-container div.content-dropdown-label:hover {
      cursor: pointer;
      cursor: hand; }
      div.content-dropdown-container div.content-dropdown-label:hover h4, div.content-dropdown-container div.content-dropdown-label:hover .fa-angle-right {
        color: black; }
    div.content-dropdown-container div.content-dropdown-label.displayed h4 {
      color: black; }

div.header-filler {
  width: 100%;
  height: 8vh; }

/*# sourceMappingURL=style.css.map */
